.Ghtml {
    color: lightpink;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1000px) {

    /*fra 1000 og op*/
    .container1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

.billed_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.col {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}
