.Ghtml {
    color: lightpink;
    font-family: 'Montserrat', sans-serif;
}

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.billed_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.col {
    margin-right: 5rem;
}
