.GUX {
    color: lightpink;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1000px) {
    .container1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.billed_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.image2 {
    box-shadow: 5px 5px 5px 5px lightgrey;

}

.image3 {
    box-shadow: 5px 5px 5px 5px lightgrey;

}

.col {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}
