#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 3rem 0.5rem 3rem;
    list-style-type: none;
    margin: 0 auto;
}


body {
    margin: 0 auto;
}

.billed_container {
    width: 75vw;
    height: 75%;
    padding: 2.5rem 3rem 0.5rem 11rem;
    justify-content: space-between;

}

/*header*/

nav {
    background-color: #ffeeee;
    border-top-color: pink;
    position: relative;
    top: 0rem;
}

/* billeder*/

img {
    width: 100%;
    height: auto;
}

/*Text styles*/

h1 {
    color: black;
    font-size: 5rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
    color: #000000;
    font-size: 1.5rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #000000;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    line-height: 1.9rem;
}

/*Links styling*/

a {
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1.2rem;

}

a:hover {
    color: lightpink;
    font-family: 'Montserrat', sans-serif;
}

a:active {
    color: lightpink;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1200px) {

    /*Burgermenu - mobilversion - fra 0 til max 1180*/

    nav {
        position: absolute;
        z-index: 1;
        margin-top: 0;
        height: 180%;
        width: 100vw;
        background-color: #ffeeee;
    }

    #menuknap {
        display: inline-block;
        color: black;
        z-index: 2;
        font-size: 2.5rem;
        position: absolute;
        top: 1.8vh;
        left: 7vw;
    }

    ul {
        line-height: 200%;
    }

    #menu {
        display: inline-block;
        text-align: center;
        position: relative;
        top: 4rem;
        left: 15vw;
    }


    a {
        font-size: 1.6rem;
    }

    h1 {
        margin-top: 4rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    p {
        margin-top: 2rem;
        font-size: 1.2rem;
    }

    .billed_container {
        width: 75vw;
        height: 75%;
        padding: 1.5rem 0.5rem 0.5rem 7rem;
        justify-content: space-between;

    }

}

@media (max-width: 750px) {

    a {
        font-size: 1.1rem;
    }

    h1 {
        font-size: 1.6rem;
    }

    p {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    .billed_container {
        width: 75vw;
        height: 75%;
        padding: 1.5rem 0.5rem 0.5rem 5.5rem;
        justify-content: space-between;

    }
}

@media (max-width: 525px) {
    .billed_container {
        width: 75vw;
        height: 75%;
        padding: 1.5rem 0.5rem 0.5rem 3.5rem;
        justify-content: space-between;

    }
}


/*Overlay på may also like*/
.container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}

.container:hover .overlay {
    opacity: 0.9;
}

.text {
    color: black;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


@media (max-width: 1200px) {

    /*javascript*/
    .hidden {
        display: none;
        opacity: 0;
        transform: translateX(-100%);
    }
}



@media (min-width: 1200px) {
    #menuknap {
        display: none;
    }


}
