.om {
    color: lightpink;
    font-family: 'Montserrat', sans-serif;
}

.tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
