.om {
    color: lightpink;
    font-family: 'Montserrat', sans-serif;
}

.tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 1.5rem 0.5rem 4rem;
    justify-content: space-between;
    grid-column-gap: 2.5rem;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


@media (max-width: 1000px) {

    .tekst {
        display: grid;
        grid-template-columns: 1fr;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .row {
        display: grid;
        grid-template-columns: 1fr;
    }
}
